.left-rectangle {
  width: 30%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 20px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  overflow: auto;
}

.right-rectangle {
  width: 70%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.1);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;
 
}

.account-display {
  list-style-type: none;
  padding: 0;

}

.account-display li {
  background-color: darkgrey;
  border-radius: 10px;
  margin: 10px;
}

.account-display li p {
  margin: 0;
  padding: 10px;
  color: black;
}

.account-display li p:first-child {
  padding-bottom: 0;
}
.account-display li p:last-child {
  padding-top: 0;
}
.account-display li:hover {
  cursor: pointer;
}
.messageContainer{
  height: 90vh;
  overflow: auto;
  overflow-y: auto;
}
.text-box{
  height: 10vh;
}
.text-box > input{
  width: 100%;
  background-color: transparent;
  border: none;
  position: fixed;
  bottom: 0;
  height: 10vh;
}
.logout{
  background-color: red;
  position: fixed;
  right: 20px;
  border-radius: 10px;
  color: white;
  border: none;
}
p{
  margin: 0;
}
.messages li {
  padding-top: 10px;
  margin: 0;
  list-style-type: none;
}
.messages li p{
  background-color: darkgrey;
  border-radius:10px ;
  padding: 10px;
}
li p.Receive-message{
  float: left;
  clear: both;
  margin-bottom: 10px; /* Thêm khoảng cách giữa các tin nhắn */
}
li p.Send-message{
  float: right;
  clear: both;
  padding-right: 10px;
  margin-bottom: 10px; /* Thêm khoảng cách giữa các tin nhắn */
}